.gridContainer {
    border: 2px solid red;
    display: grid;
    width: 40vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.gridElement {
    display: flex;
    justify-content: center;
    align-items: center;
}