.siteHeader {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid red;
}

.siteDisplay {
    display: flex;
}

.appAccordion {
    width: 20vw;
}

.appAccordionBody {
    display: flex;
    padding: 10px;
}

.infoDisplay {
    width: 80vw;
}